<input type="checkbox" id="checkbox-toggle2">
<label id="headMenu" for="checkbox-toggle2">&#129171;</label>
<ul id="wholeMenu">
<form action='/thedishes' method="POST">
    <input type="checkbox" id="checkbox-toggle3">
    <label id="submenu1" for="checkbox-toggle3">Dishes</label>
    <ul id="menuOne">
        <select class="" name="countries" id="country">
          <% for(var i=0; i < countries.length; i++) { %>
          <option name="countries" value="<%= countries[i].name %>"><%= countries[i].name %></option>
          <% } %>
        </select>
    </ul>

    <input type="checkbox" id="checkbox-toggle4">
    <label id="submenu2" for="checkbox-toggle4">Persons</label>
    <ul id="menuSecond">
      <div>
        <input type="checkbox" name="people" value="1" />
        <label>1</label>

        <input type="checkbox" name="people" value="2" />
        <label>2</label>
      </div>
      <div>
        <input type="checkbox" name="people" value="3" />
        <label>3</label>

        <input type="checkbox" name="people" value="4" />
        <label>4</label>
      </div>
      <div>
        <input type="checkbox" name="people" value="5" />
        <label>5</label>

        <input type="checkbox" name="people" value="6" />
        <label>6</label>
      </div>
    </ul>
    <button type="submit" class="searchButton">Search</button>
  </ul>
</form>
