<title>Foodzen ~ The matching application</title>
<meta charset="utf-8">
<meta name="active-menu" content= "">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
