<header>
<section>
    <button id="hamburgermenu">&#x2630;</button>
    <h1>FoodZen</h1>
</section>
        <ul id="wholeHamburgermenu">
           <li><a href="/thedishes">&#127860; All Dishes</a></li>
           <li><a href="/profile">&#128100; My profile</a></li>
           <li><a href="/favoritedishes">&#11088; Favorites</a></li>
           <li><a href="">&#128172; Chats</a></li>
           <li><a href="/add">&#129379; Add your own recipe</a></li>
           <li><a href="/signout">&#128072; Log out</a></li>
        </ul>         
</header>
