<div id="showMenu">
  <i class="fas fa-bars"></i>
</div>
<section id="menu">

  <!-- divje voor sluiten menu -->
  <div>
    <!-- divjes voor sluiten (animatie kruisje)-->
    <div></div>
    <div></div>

  </div>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/toevoegen">Toevoegen</a></li>
    <li><a href="/thedishes">Alle recepten</a></li>
    <li><a href="/favoritedishes">Mijn favorieten</a></li>
    <li><a href="/thedishes">Zoek gerecht</a></li>
    <li><a href="/profiles">Mijn profiel</a></li>

    <li><a href="/recepten">Chat</a></li>

  </ul>
</section>
