<div id="showMenu">
  <i class="fas fa-bars"></i>
</div>
<section id="menu">

  <!-- divje voor sluiten menu -->
  <div>
    <!-- divjes voor sluiten (animatie kruisje)-->
    <div></div>
    <div></div>

  </div>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/toevoegen">Toevoegen</a></li>
    <li><a href="/recepten">Alle recepten</a></li>
  </ul>
</section>
