<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="../css/style.css">
  <%- include('partials/head'); -%>
  </head>
  <body>

<body>
<<<<<<< HEAD
  <%- include('partials/loggedHeader'); -%>
=======
    <%- include('partials/header'); -%>
>>>>>>> 921a0e03e3d9b5edafda3137885e45617559468a
    <section class="chatOverview">
        <h2 class='chatH2'>Chats</h2>
            <ul class="chatUl">
                <a href="/chat/empanadillas" class="chatA">Empanadillas</a>
                    <a href="/chat/sushi" class="chatA">Sushi rolls with crab and cucumber</a>
                        <a href="/chat/chili" class="chatA">Chili sin Carne</a>
            </ul>
    </section>
</body>
