<%- include('layout/head'); -%>

<body>
    <%- include('partials/header'); -%>
    <section class="chatOverview">
        <h2 class='chatH2'>Chats</h2>
            <ul class="chatUl">
                <a href="/chat/empanadillas" class="chatA">Empanadillas</a>
                    <a href="/chat/sushi" class="chatA">Sushi rolls with crab and cucumber</a>
                        <a href="/chat/chili" class="chatA">Chili sin Carne</a>           
            </ul>
    </section>
</body>