<%- include('layout/head'); -%>

<body>
  <%- include('partials/header'); -%>

  <main>
    <div id="chat">
      <h2 class="chatH2">Chili sin Carne</h2>
      <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
      </div>
      <input id="handle" type="text" class="inputChat" placeholder="Name" />
      <input id="message" type="text" class="inputChat" placeholder="Message" />
      <button id="send" class="sendChat">Send</button>
    </div>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <%- include('../views/partials/footer.ejs') %>
</body>

</html>
