<head>
  <link rel="stylesheet" href="../css/chat.css">
  <link rel="stylesheet" href="../css/loggedIn.css">
  <%- include('partials/head'); -%>
</head>

<body>
  <%- include('partials/loggedHeader'); -%>
  <noscript>
    Javascript is not enabled in your browser, you'll be redirected to another page.
        <meta HTTP-EQUIV="REFRESH" content="5; url=https://matching-app-2-z8cjw.ondigitalocean.app/contact"> 
    </noscript>
  <main>
    <section id="chat">
      <h2 class="chatH2">Chili sin Carne</h2>
      <section id="chat-window">
        <section id="output"></section>
        <section id="feedback"></section>
      </section>
      <input id="handle" type="text" class="inputChat" placeholder="Name" />
      <input id="message" type="text" class="inputChat" placeholder="Message" />
      <button id="send" class="sendChat">Send</button>
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <%- include('../views/partials/footer.ejs') %>
</body>

</html>
