<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="../css/style.css">
  <%- include('partials/head'); -%>
  </head>
  <body>

<body>
<<<<<<< HEAD
  <%- include('partials/loggedHeader'); -%>
  
<main>
  <div id="chat">
    <h2 class="chatH2">Empanadillas</h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
=======
  <%- include('partials/header'); -%>
  <main>

    <div id="chat">
      <h2 class="chatH2">Empanadillas</h2>
      <div id="chat-window">
          <div id="output"></div>
          <div id="feedback"></div>
      </div>
      <input id="handle" type="text" class="inputChat" placeholder="Name" />
      <input id="message" type="text" class="inputChat" placeholder="Message" />
      <button id="send" class="sendChat">Send</button>
>>>>>>> 921a0e03e3d9b5edafda3137885e45617559468a
    </div>
  </main>


    <script src="socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <%- include('../views/partials/footer.ejs') %>
</body>
</html>
