<!DOCTYPE html>
<html>
    <body>
        <main>
            <div class="signOutDiv">
                    <p class="message">Already done? <a href="signout">Sign Out</a></p>
            </div>
        </main>
    </body>
</html>