
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/michaelStyle.css">
<%- include('partials/head'); -%>
</head>
  <body>
    <header>
      <%- include('partials/header'); -%>
    </header>
    <main>
      <section>
        <figure>
          <img src="images/food.jpg" alt="Foodzen logo">
        </figure>
        <form action="/login" method="get">
          <button type="submit" name="button">Let's begin</button>
        </form>
      </section>
    </main>
    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>
