<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="css/loggedIn.css">
  <%- include('partials/head'); -%>
  </head>
  <body>
    <header>
      <%- include('partials/loggedHeader'); -%>
    </header>
    <main>

    </main>
    <%- include ('partials/footer'); -%>
  </body>
</html>
