<!DOCTYPE html>
<html>
    <body>
        <main>
            <div class="loginPage">
                <form method="POST" action ="/login" class="loginForm">
                    <input type="text" name="userName" placeholder="username" required/>
                    <input type="password" name="password" placeholder="password" required/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="signup">Create an account</a></p>
                </form>
                </div>
        </main>
    </body>
</html>