<!DOCTYPE html>
<html>
    <body>
        <main>
            <div class="signupPage">
                <form method="POST" action ="/register" class="registerForm">
                    <input type="text" name="userName" placeholder="username" required/>
                    <input type="password" name="password" placeholder="password"required/>
                    <input type="text" name ="name" placeholder="first name"required/>
                    <input type="email" name="email" placeholder="email address"required/>
                    <button>create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
            </div>
        </main>
    </body>
</html>