@font-face {
  font-family: "delighty";
  src: url('../fonts/Delighty.ttf');
}

main {
  overflow-x: hidden;
}

header {
  overflow-y: hidden;
  width: 100%;
  background-color: white;
}

header>h1 {
  color: #F8ECC4;
  font-family: 'Delighty', sans-serif;
  font-size: 5em;
  margin: 0em;
  margin-right: 1em;
  margin-bottom: 0em;
  font-weight: normal;
  text-align: center;
}

header>ul>li>a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #F89D8A;
}

header>ul>li {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #F89D8A;
  list-style-type: none;
}

header>ul {
  background-color: white;
  max-height: 0em;
  opacity: 0;
  visibility: hidden;
  line-height: 3em;
  transition: all 500ms ease;
  transform: translateX(-6vw);
}


header>label {
  height: 40px;
  width: 40px;
  float: left;    
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  display: block;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
} 

.showWholeHamburgermenu {
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ label {
  background-color: white;
}

input[type=checkbox]:checked ~ ul {
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#dishes>section>a {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  display: inline-block;
  box-shadow: 0px 3px 10px -1px #5B5B5B;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}

/*---*/
#dishes>section {
  background-color: #F8ECC4;
}

#dishes>article>h2 {
  font-family: 'Merriweather', serif;
  color: #5B5B5B;
}

#dishes>article>h3:nth-of-type(1) {
  font-size: 0.8em;
  margin-top: 0;
  line-height: 0.5em;
  color: #F89D8A;
}

#dishes>article>img {
  max-width: 100%;
  height: auto;
  padding: 0;
}

#dishes>article {
  font-family: 'Merriweather', serif;
  margin: 1em;
  padding: 1em;
  display: block;
  box-shadow: 0px 3px 10px -1px #5B5B5B;
}

#dishes>article>div {
  display: grid;
  grid-template-columns: 75% 50% auto;
}

#dishes>article>h4 {
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 0;
}

#dishes>article>p {
  font-size: 0.7em;
}

#dishes>article>a {
  background-color: #F8ECC4;
  box-shadow: 0px 3px 10px -1px #5B5B5B;
  font-family: 'Merriweather', serif;
  color: #5B5B5B;
}

#dishes>article>ul>li {
  font-family: 'Merriweather', serif;
  margin: 1em;
  display: block;
  color: black;
}

#dishes>a {
  font-family: 'Merriweather', serif;
  margin: 1em;
  display: block;
  color: black;
}

/*dishes details*/
#detailsarticle>h4 {
  font-size: 0.5em;
}

#detailsarticle {
  font-family: 'Merriweather', serif;
}

#detailsarticle>div>h2 {
  font-weight: normal;
  font-size: 1.5em;
}

#detailsarticle>div>h3 {
  font-weight: normal;
  margin-left: 1em;
}

#detailsarticle>ol:nth-of-type(2) {
  padding-left: 0;
  margin: 1em;
}

#detailsarticle>ol>li {
  padding-left: 0;
  padding-bottom: 1em;
}

/* favorite /save button*/
#detailsarticle>div>form>button {
  background-color: #fec89a;
  color: white;
  border-radius: 4em;
  border-width: 0;
  width: 6em;
  height: 2.5em;
  box-shadow: 0px 3px 3px -0.5px #5B5B5B;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

