body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root{
  --main-color: #F89D8A;
  --secondary-color: #F8ECC4;
  --main-font: 'Merriweather Sans', sans-serif;
}
 @font-face {
     font-family: "delighty";
     src: url('../fonts/Delighty.ttf');
 }

header {
  height: 10vh;
  background-color: var(--secondary-color);
  position: relative;
  display: flex;
  align-items: center;
}

.fa-bars:before {
    content: "\f0c9";
    color: white;
    font-size: 2em;
}
/* divje voor de show button */
header > div {
  height: 5vh;
  width: 5vh;
  margin-left: 5%;
}

/* logged in menu */
header > section {
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /* transform: translateY(-100vh); */

}

@keyframes menuY {
  0%{transform:translateY(0vh);}
  100%{transform: translateY(-100vh);}
}

/* menu items */
header > section > ul {
  margin-top: 45%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header > section > ul > li {
  font-family: var(--main-font);
  list-style-type: none;
  color: #fff;
  font-size: 1em;
}


header > section > div:first-child {
  height: auto;
  width: 5vh;
  float: right;
  margin: 5% 5% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: menuTerug;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

header > section > div:first-child:hover {
  animation: hoverSluiten;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes hoverSluiten {
0% {transform: scale(1.2) }
100% {transform: scale(0.4)}
}

@keyframes menuTerug {
  0%{transform:translateY(-100vh);}
  100%{transform: translateY(0vh);}
}

/* Classlist Add event to show menu */
.laatMenuZien {
  opacity: 1;
  visibility: visible;
  animation: menuY;
  transition: 0.7s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.menuTerug {
animation: menuTerug;
animation-duration: 1s;
transition: 0.7s;
animation-duration: 0.7s;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out
}

/* kruisje sluiten animatie en styling */
header > section > div:first-of-type > div:first-child {
  width: 0.7vh;
  height: 5vh;
  background-color: #fff;
  transform: rotate(45deg);
}

header > section > div:first-of-type > div:last-child {
  width: 0.7vh;
  height: 5vh;
  background-color: #fff;
  transform: rotate(-45deg);
}

/* styling toevoegen pagina - (V0.5) */

main > section:first-of-type {
  height: 23vh;
  width: 100%;
  background-image: url('../images/foodBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.8);
  z-index: 0;
  }
main > section:nth-of-type(2) {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 29%;
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
}

main > section:nth-of-type(2) > h1 {
  font-family: Delighty;
  font-size: 3.8em;
  font-weight: lighter;
  margin: 0;
  position: absolute;
  top: 5%;
}

main > section:nth-of-type(2) > span {
  position: absolute;
  top: 17%;
  font-family: var(--main-font);
  font-weight: lighter;
  color: #a79f9f;
  font-size: 12px;
}

main > section:nth-of-type(2) > form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 17%;
  margin: 10%;
  padding-bottom: 20%;
}

main > section:nth-of-type(2) > form > button {
  background-color: var(--main-color);
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 10%;
  color: #ffffff;
  width: 100%;
  padding: 2%;
  font-family: var(--main-font);
  font-size: 1.2em;
}

#inputImg {
  border: none;
}

main > section:nth-of-type(2) > form > input {
  border: none;
  border-bottom: 1px solid var(--main-color);
}
.testInput {
  border: none;
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  margin-bottom: 5%;
}

main > section:nth-of-type(2) > form > label {
  margin-top: 5%;
  color: #5A5A5A;
  font-family: var(--main-font);
  font-size: 0.8em;
}

main > section:nth-of-type(2) > form > textarea {
  border-color: var(--main-color);
  width: 100%;
  margin-top: 5%;
}

#tijdsduur {
  margin-top: 5%;
}
