body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --main-color: #F89D8A;
  --secondary-color: #18cf83;
  --main-font: 'Merriweather Sans', sans-serif;
  --icon-size: 15px;
}

@font-face {
  font-family: "delighty";
  src: url('../fonts/Delighty.ttf');
}

/*Progressive Enhanced header*/

header {
  overflow-y: hidden;
  width: 100%;
  background-color: white;
}

header>h1 {
  color: #F8ECC4;
  font-family: 'Delighty', sans-serif;
  font-size: 5em;
  margin: 0em;
  margin-right: 1em;
  margin-bottom: 0em;
  font-weight: normal;
  text-align: center;
}

header>ul>li>a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #F89D8A;
  line-height: 1em;
  list-style-type: none;
}

header>ul {
  background-color: white;
  max-height: 0em;
  opacity: 0;
  line-height: 3em;
  visibility: hidden;
  transition: all 500ms ease;
  transform: translateX(-6vw);
  list-style-type: none;
}


header>label {
  height: 40px;
  width: 40px;
  float: left;    
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  display: block;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
} 

.showWholeHamburgermenu {
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

header>input[type=checkbox]{
  display: none;
}

header>input[type=checkbox]:checked ~ label {
  background-color: white;
}

header>input[type=checkbox]:checked ~ ul {
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#add>section:first-of-type {
  height: 23vh;
  width: 100%;
  background-image: url('../images/foodBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.8);
  z-index: 0;
}

#add>section:nth-of-type(2) {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 38%;
  border-radius: 30px 30px 0px 0px;
  z-index: -1;
}

#add>section:nth-of-type(2)>h1 {
  font-family: Delighty;
  font-size: 3.8em;
  font-weight: lighter;
  margin: 0;
  position: absolute;
  top: 5%;
  display: block;
  color: black;
}

#add>section:nth-of-type(2)>span {
  position: absolute;
  top: 17%;
  font-family: var(--main-font);
  font-weight: lighter;
  color: #a79f9f;
  font-size: 12px;
}

#add>section:nth-of-type(2)>form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 17%;
  margin: 10%;
  padding-bottom: 20%;
}

#add>section:nth-of-type(2)>form>button {
  background-color: var(--main-color);
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 10%;
  color: #ffffff;
  width: 100%;
  padding: 2%;
  font-family: var(--main-font);
  font-size: 1.2em;
}

#inputImg {
  border: none;
}

#add>section:nth-of-type(2)>form>input {
  border: none;
  border-bottom: 1px solid var(--main-color);
}

#duration {
  margin-top: 10px;
}

.testInput {
  border: none;
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  margin-bottom: 5%;
}

#add>section:nth-of-type(2)>form>label {
  margin-top: 5%;
  color: #5A5A5A;
  font-family: var(--main-font);
  font-size: 0.8em;
}

#add>section:nth-of-type(2)>form>textarea {
  border-color: var(--main-color);
  width: 100%;
  margin-top: 5%;
}

#tijdsduur {
  margin-top: 5%;
}

/*all dishes pages*/
#recipeCards {
  position: relative;
  height: auto;
  width: 90%;
  background-color: #fff;
  margin: 5%;
  border-radius: 3px;
  font-weight: 300;
  font-size: 2em;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 5%;
  -webkit-box-shadow: -4px 6px 31px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 6px 31px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 9px -4px rgb(0 0 0 / 75%);
}

.fa-user-alt:before {
  font-size: var(--icon-size);
}

.fa-globe-europe:before {
  font-size: var(--icon-size);
}

.fa-clock:before {
  font-size: var(--icon-size);
}

#recipeCards>div>p {
  margin: 0;
  padding: 0.5em;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 0.5em;
  color: black;
}

#recipeCards>div>h3 {
  font-family: 'Delighty', serif;
  font-weight: 300;
  font-size: 1.4em;
  color: #f89d8a;
}

#recipeCards>div {
  margin-left: 5%;
}

#recipeCards::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-color: var(--main-color);
}

#recipeCards>div:nth-of-type(2)>a {
  background-color: #ce796b;
  box-shadow: 0px 3px 10px -1px #5B5B5B;
  font-family: 'Merriweather', serif;
  color: white;
  padding: 0.5em;
  font-size: 0.5em;
  border-radius: 10px;
}

/*Progressive Enhanced filtermenu*/

#dishes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 9px;
}

#wholeMenu {
  grid-column: 1 / -1;
}

#dishes>input[type=checkbox]{
  display: none;
}

#dishes>#wholeMenu>form>input[type=checkbox]:nth-of-type(1){
  display: none;
}

#dishes>#wholeMenu>form>input[type=checkbox]:nth-of-type(2){
  display: none;
}

#dishes>input[type=checkbox]:checked ~ label {
  background-color: white;
}

#dishes>#wholeMenu>form>input[type=checkbox]:checked ~ label:nth-of-type(1) {
  background-color: transparent;
}

#dishes>#wholeMenu>form>input[type=checkbox]:nth-of-type(2):checked ~ label{
  background-color: transparent;
}

#dishes>input[type=checkbox]:checked ~ #wholeMenu{
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#dishes>#wholeMenu>form>input[type=checkbox]:nth-of-type(2):checked ~ #menuSecond{
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#dishes>#wholeMenu>form>input[type=checkbox]:nth-of-type(1):checked ~ #menuOne{
  max-height: 100em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#dishes>label {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  display: inline-block;
  box-shadow: 0px 3px 10px -1px #5B5B5B;
  margin: 0.5em;
  font-size: 3em;
  text-align: center;
}

.searchButton {
  background-color: #F89D8A53;
  color: white;
  border-radius: 4em;
  border-width: 0;
  width: 6em;
  height: 2em;
  box-shadow: 0px 3px 3px -0.5px #5B5B5B;
  font-family: 'Merriweather', serif;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#dishes>#wholeMenu{
 font-family: 'Merriweather', serif;
  background-color: #F8ECC4;
  max-height: 0em;
  opacity: 0;
  line-height: 2em;
  padding: 1em;
  padding-left: 1.5em;
  visibility: hidden;
  transition: all 500ms ease;
  transform: translateX(-6vw);
}

#dishes>ul>form>#menuOne {
  font-family: 'Merriweather', serif;
   background-color: #F8ECC4;
   max-height: 0em;
   opacity: 0;
   line-height: 3em;
   padding: 1em;
   visibility: hidden;
   transition: all 500ms ease;
   transform: translateX(-6vw);
 }

 #dishes>ul>form>#menuSecond {
  font-family: 'Merriweather', serif;
   background-color: #F8ECC4;
   max-height: 0em;
   opacity: 0;
   line-height: 3em;
   padding: 1em;
   visibility: hidden;
   transition: all 500ms ease;
   transform: translateX(-6vw);
 }

.showWholeMenu {
  max-height: 100em;
  opacity: 1;
  transform: translateX(0);
}

.showSubmenu1 {
  max-height: 100em;
  opacity: 1;
}

.showSubmenu2 {
  max-height: 100em;
  opacity: 1;
}



#favorite>section>a {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  display: inline-block;
  box-shadow: 0px 3px 10px -1px #5B5B5B;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}

#favorite>section {
  background-color: #F8ECC4;
  font-family: 'Merriweather', serif;
  display: grid;
  grid-template-columns: 25% 75% auto;
}

#favorite>section>h1 {
  display: block;
  font-weight: normal;
  text-align: center;
  margin: 1em;
  padding-top: 0.2em;
}

/*empty state*/
#favorite>article:nth-of-type(1)>div {
  margin: 1em;
  margin-top: 1.5em;
  font-size: 5em;
  color: rgb(255, 208, 0);
  margin-bottom: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
}

#favorite>article:nth-of-type(1)>p {
  display: block;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-top: 0;
}

#favorite>article:nth-of-type(1) {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -10;
  margin: 3em;
  text-align: center;
}

#contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contactContainer>h1 {
  font-size: 2.5em;
  font-family: delighty;
  font-weight: 300;
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

#contactContainer>form {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: space-between;
  padding: 5%;
  height: 55vh;
}

#contactContainer>form>button {
  width: 25%;
  height: 2em;
  margin-top: 10%;
  border: none;
  background-color: #f89f9d;
  color: #fff;
  border-radius: 3px;
}

#addBtn {
  background-color: var(--secondary-color) !important;
  font-size: 12px !important;
  width: 40% !important;
}

/* contactformulier styling */
.formStyling>input {
  border: none;
  border-bottom: 1px solid var(--main-color);
}

.formStyling>label {
  margin-top: 5%;
  color: #5A5A5A;
  font-family: var(--main-font);
  font-size: 0.8em;
}

.formStyling>textarea {
  border: 1px solid var(--main-color);
}

/* Styling van bevestiging contact bericht verstuurd */
#contactConfirmContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#contactConfirmContainer>article {
  margin-left: 15%;
}

#contactConfirmContainer>article>p:first-of-type {
  font-style: italic;
}

#contactConfirmContainer>article>p:nth-child(2) {
  width: 68%;
}

#contactConfirmContainer>article>button:first-of-type {
  border: none;
  background-color: var(--main-color);
  padding: 5%;
  width: 80%;
  border-radius: 5px;
}

#contactConfirmContainer>article>button:first-of-type>a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}