body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root{
  --main-color: #F89D8A;
  --secondary-color: #F8ECC4;
  --main-font: 'Merriweather Sans', sans-serif;
}
 @font-face {
     font-family: "delighty";
     src: url('../fonts/Delighty.ttf');
 }

 h1 {
   font-family: delighty;
   margin: 10% 0% 3%;
   font-size: 3em;
   font-weight: lighter;
   color: var(--main-color);
 }

header {
  height: 10vh;
  background-color: var(--secondary-color);
  position: relative;
  display: flex;
  align-items: center;
}

.fa-bars:before {
    content: "\f0c9";
    color: white;
    font-size: 2em;
}
/* divje voor de show button */
header > div {
  height: 5vh;
  width: 5vh;
  margin-left: 5%;
}

/* logged in menu */
header > section {
  height: 70vh;
  width: 60vw;
  background-color: var(--main-color);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 0.8s;
  top: 0;
  left: 0;
  z-index: 100;
}

/* menu items */
header > section > ul {
  margin-top: 45%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header > section > ul > li {
  font-family: var(--main-font);
  list-style-type: none;
  color: #fff;
  font-size: 1em;
}


header > section > div:first-child {
  height: auto;
  width: 5vh;
  float: right;
  margin: 5% 5% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > section > div:first-child:hover {
  animation: hoverSluiten;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes hoverSluiten {
0% {transform: scale(1.2) }
100% {transform: scale(0.4)}
}

/* Classlist Add event to show menu */
.laatMenuZien {
  opacity: 1;
  visibility: visible;
  transition: 0.8s;
}

/* kruisje sluiten animatie en styling */
header > section > div:first-of-type > div:first-child {
  width: 0.7vh;
  height: 5vh;
  background-color: #fff;
  transform: rotate(45deg);
}

header > section > div:first-of-type > div:last-child {
  width: 0.7vh;
  height: 5vh;
  background-color: #fff;
  transform: rotate(-45deg);
}

/* //einde header */

main > section {
  height: auto;
  width: 100%;
}

main > section {
  text-align: center;
}
main > section > article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
figure {
  height: auto;
  width: 85vw;
  border-radius: 20px;
  margin: 0;
  position: relative;
  margin-bottom: 5%;
}

figcaption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: var(--main-font);
  color: #ffff;
  font-size: 1.5em;
  font-weight: bold;
}

figure > img {
  background-size: contain;
  width: 100%;
  border-radius: 20px;
  max-height: 70vh;
  min-height: 70vh
}
