<!doctype html>
<html lang="en">

<head>
    <!-- head -->
</head>

<body>
    <!-- navigation menu -->
    <main></main>
    <!--footer-->
    <script src="scripts/script.js"></script>
</body>

</html>